name: Pruebas unitarias y funcionales

on:
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:latest
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: testdb
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
        - 5432:5432

    steps:
      - name: Check out repository code
        uses: actions/checkout@v4      

      - name: Wait for PostgreSQL to be ready
        run: until pg_isready -h localhost -p 5432; do sleep 1; done

      - name: Cargar esquema de la base de datos
        run: |
          psql -h localhost -U postgres -d testdb -f scripts.sql  2>&1 | tee sql_log.txt 
        env:
          PGPASSWORD: postgres

      - name: Test tables creation
        run: |
          if [ $(grep -c "CREATE TABLE" sql_log.txt) -lt 4 ]; then
            echo "Menos de 4 tablas creadas"
            exit 1
          else
            echo "La creación de tablas es de al menos 4 (OK)"
          fi          


      - name: Test insertions of 5 records
        run: |
          if [ $(grep -c "INSERT 0 5" sql_log.txt) -lt 5 ]; then
            echo "Las inserciones de 5 registros son menos de 5."
            exit 1
          fi     

      - name: Test insertions of 1 records
        run: |
          if [ $(grep -c "INSERT 0 1" sql_log.txt) -lt 1 ]; then
            echo "Las inserciones de un registro son menos de una."
            exit 1
          else
            echo "Cantidad de inserciones de un renglón OK"
          fi    
          
      - name: Test query clientes con nombre que comienza con A 
        run: |        
          if grep -Pzo "cliente_id \|  nombre   \|        email        \n------------\+-----------\+---------------------\n          1 \| Ana Pérez \| ana.perez@gmail.com\n\(1 row\)" sql_log.txt; then
            echo "La selección de cliente con nombre que comienza con A está bien."
          else
            echo "El archivo no contiene el texto especificado."
            exit 1
          fi
                

